html,
body {
  height: 100%;
}

body {
  color: $light;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  @extend %poppins-400;
  display: flex;
  flex-direction: column;
  background-color: $bg-primary;
}

.container {
  max-width: 409px;
  margin: 0 auto;
  padding: 0 15px;
}

.main {
  flex-grow: 1;
}
