$light: #ffffff;
$bg-primary: #1b202d;
$bg-secondary: #292f3f;
$primary: #b3b9c9;
$secondary: #fff;

%poppins-400 {
  font-family: "Poppins";
  font-weight: 400;
}

%poppins-500 {
  font-family: "Poppins";
  font-weight: 500;
}

%poppins-600 {
  font-family: "Poppins";
  font-weight: 600;
}
%mulish-600 {
  font-family: "Mulish";
  font-weight: 600;
}
